<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee9989">  <td>21/01/16 17:45:32</td>   <td>0</td> <td title="&gt;&gt;GoogleTest.initialDelay()[pri:0, instance:tests.GoogleTest@3fd7a715]">&gt;&gt;initialDelay</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1039949752</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>21/01/16 17:45:34</td>   <td>2010</td> <td>&nbsp;</td><td title="&gt;&gt;GoogleTest.setUp()[pri:0, instance:tests.GoogleTest@3fd7a715]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1039949752</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>21/01/16 17:45:37</td>   <td>5165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.googleTest(java.lang.String)[pri:0, instance:tests.GoogleTest@3fd7a715]">googleTest</td> 
  <td>main@1039949752</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>21/01/16 17:45:37</td>   <td>5172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.googleTest(java.lang.String)[pri:0, instance:tests.GoogleTest@3fd7a715]">googleTest</td> 
  <td>main@1039949752</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>21/01/16 17:45:37</td>   <td>5176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.googleTest(java.lang.String)[pri:0, instance:tests.GoogleTest@3fd7a715]">googleTest</td> 
  <td>main@1039949752</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>21/01/16 17:45:37</td>   <td>5181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.googleTest(java.lang.String)[pri:0, instance:tests.GoogleTest@3fd7a715]">googleTest</td> 
  <td>main@1039949752</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>21/01/16 17:45:37</td>   <td>5185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.googleTest(java.lang.String)[pri:0, instance:tests.GoogleTest@3fd7a715]">googleTest</td> 
  <td>main@1039949752</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>21/01/16 17:45:37</td>   <td>5188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.googleTest(java.lang.String)[pri:0, instance:tests.GoogleTest@3fd7a715]">googleTest</td> 
  <td>main@1039949752</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>21/01/16 17:45:37</td>   <td>5195</td> <td>&nbsp;</td><td title="&lt;&lt;GoogleTest.tearDown()[pri:0, instance:tests.GoogleTest@3fd7a715]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
