<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7666ad">  <td>21/01/28 10:01:36</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;GoogleTest.setUp()[pri:0, instance:tests.GoogleTest@7b227d8d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1205406622</td>   <td></td> </tr>
<tr bgcolor="7666ad">  <td>21/01/28 10:01:39</td>   <td>2730</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.googleTest(java.lang.String)[pri:0, instance:tests.GoogleTest@7b227d8d]">googleTest</td> 
  <td>main@1205406622</td>   <td></td> </tr>
<tr bgcolor="7666ad">  <td>21/01/28 10:01:39</td>   <td>2746</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.googleTest(java.lang.String)[pri:0, instance:tests.GoogleTest@7b227d8d]">googleTest</td> 
  <td>main@1205406622</td>   <td></td> </tr>
<tr bgcolor="7666ad">  <td>21/01/28 10:01:39</td>   <td>2761</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.googleTest(java.lang.String)[pri:0, instance:tests.GoogleTest@7b227d8d]">googleTest</td> 
  <td>main@1205406622</td>   <td></td> </tr>
<tr bgcolor="7666ad">  <td>21/01/28 10:01:39</td>   <td>2761</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.googleTest(java.lang.String)[pri:0, instance:tests.GoogleTest@7b227d8d]">googleTest</td> 
  <td>main@1205406622</td>   <td></td> </tr>
<tr bgcolor="7666ad">  <td>21/01/28 10:01:39</td>   <td>2792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.googleTest(java.lang.String)[pri:0, instance:tests.GoogleTest@7b227d8d]">googleTest</td> 
  <td>main@1205406622</td>   <td></td> </tr>
<tr bgcolor="7666ad">  <td>21/01/28 10:01:39</td>   <td>2792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTest.googleTest(java.lang.String)[pri:0, instance:tests.GoogleTest@7b227d8d]">googleTest</td> 
  <td>main@1205406622</td>   <td></td> </tr>
<tr bgcolor="7666ad">  <td>21/01/28 10:01:39</td>   <td>2808</td> <td>&nbsp;</td><td title="&lt;&lt;GoogleTest.tearDown()[pri:0, instance:tests.GoogleTest@7b227d8d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
